
    <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="section_overlay wow lightSpeedIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <!-- Start Subscribe Section Title -->
                        <div class="section_title">
                            <h2>WE ARE LANG-!</h2><br><br><br>
                            <center>
                            <img src="assets/ffont1.png"><br>
                            </center>
                        </div>
                        <!-- End Subscribe Section Title -->
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row  wow lightSpeedIn">
                    <div class="col-md-6 col-md-offset-3">
                        <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                            <center>
                            <a class="btn home-btn wow fadeInLeft" href="/introduce">PLAY LANG-!</a>
                            </center>

                    </div>
                </div>
            </div>
        </div>
    </section>