   <section id="TESTIMONIAL" class="testimonial parallax">
          <div class = "container">
            <div class="row">
               <div class="col-lg-12">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE --><br><br>
                                                <img src="assets/client_1.png" alt="">
                                                <div class="testimonial_caption">
                                                   <!-- DESCRIPTION -->  
                                                    <h2>JUNG JI HYEON</h2>
                                                    <h4><span>UX UI</span> DESIGNER</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE --><br><br>
                                                <img src="assets/client_2.png" alt="">
                                                <div class="testimonial_caption">
                                                   <!-- DESCRIPTION -->  
                                                    <h2>JUNG JI HYEON</h2>
                                                    <h4><span>UX UI</span> DESIGNER</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE --><br><br>
                                                <img src="assets/client_3.png" alt="">
                                                <div class="testimonial_caption">
                                                   <!-- DESCRIPTION -->  
                                                    <h2>JUNG JI HYEON</h2>
                                                    <h4><span>UX UI</span> DESIGNER</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!-- 개발자들 -->

</section>