<section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>MOIM APPLICATION SERVICE </h2>
                        </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="assets/dd.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2>LANG'S MOIM SERVICE</h2>
                        </div>
                        
                        
                                                   
                            
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-comment"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>FIRST LANG'S MOIM</h3>
                                <p>Dance on Latin music (salsa, bachata, reggaeton, etc.)<br>
Language Exchange with Spanish Speakers !<br>
2 Free drinks !<br>

¡Hola, a todos que les gusta el reggaeton!<br>
Soy Blanca y amo el reggaeton jajaja :-)<br>
pero fue muy difícil encontrar una fiesta o lugar donde solo pone el reggaeton en Seúl.<br>
Por eso, he planificado una fiesta de Real Reggaeton Seúl que puede escucharlo cuánto quieran y disfrutarlo cómo quieran!!<br>
Además, pueden conocer a los coreanos que hablen español en esta fiesta y intercambiar el idioma xD!! <br>
Vengan y disfruten la música latina, alcohol y todo lo que hemos preparado!!!<br>
La entrada es solo 7,000won por cada persona (2 drinks, solo para extranjeros)<br>

---------------------------------------------------------------------------<br>

안녕하세요, 여러분!<br>

저는 라틴 음악을 좋아하는 Blanca 라고 합니다 :-)<br>
스페인 어학연수 후 한국에 돌아와서 스페인어권 친구도 사귀고 싶고,<br> 레게톤 음악도 너무너무 즐기고 싶은데 그런 장소와 파티를 찾기 힘들더라고요.<br>
그래서 만들어보았습니다, Reggaeton Lover's Night!<br>
국내에서 스페인어를 사용하거나 레게톤 음악을 사랑하는 <br>내국인, 외국인들이 다같이 모여 네트워킹하고, 놀 수 있는 파티를 기획해보았습니다!<br>
입장료는 1인당 10,000 won이고, Drink 2잔이 제공됩니다.<br>
이 외에도 다양한 이벤트와 미션이 준비되어 있습니다 :-)<br>
스페인어 사용자들과 네트워킹 하고 싶으신 분들,<br>
흥겨운 레게톤 음악에 맞춰 스트레스를 풀고 싶으신 분들,<br>
라틴/스페인 계열 친구들을 만나고 싶으신 분들!!<br>
많이 많이 참여해주세요!!! ~~~<br>
</p><br>

                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->

                            <!-- END SINGLE DESC -->
                            <a class="btn home-btn wow fadeInLeft" href="/intro">뒤로가기</a>
                            <a class="btn home-btn wow fadeInLeft" href="https://www.naver.com"  onclick="window.open(this.href); return false">모임서비스 이용하기 <strong>BETA</strong></a><br><br><br><br>





                        </div>
                    </div>
                </div>
            </div>
        </div>
